.DS_Store
nimcache/
*.exe
*.out
/tests/tcommon
/tests/tchacha20
/tests/tpoly1305
/tests/tblake2b
/tests/taead
/tests/tx25519
/tests/teddsa
/tests/telligator
/tests/targon2
/tests/tsha512
/tests/thkdf
/tests/ted25519
/tests/tinterop
/tests/thighlevel
/tests/tbench
